## Imports

In [1]:
from collections import OrderedDict
from bs4 import BeautifulSoup
from fuzzywuzzy import process
import altair as alt
import pandas as pd

from selenium.common.exceptions import TimeoutException
from selenium.webdriver import Chrome, ChromeOptions
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

# Scraping w/ Selenium

In [2]:
# proxy = "46.39.245.204:57825" 
# # https://free-proxy-list.net/

# options = ChromeOptions()
# options.headless = True
# options.add_argument('--proxy-server={}'.format(proxy))
# driver = Chrome(options=options)

In [3]:
zack_url = "https://scholar.google.com/citations?user=X7FY3wUAAAAJ&hl=en&oi=ao"
hinton_url = "https://scholar.google.com/citations?user=JicYPdAAAAAJ&hl=en&oi=ao"
malcolm_url = "https://scholar.google.de/citations?user=bcO-7KwAAAAJ&hl=en&oi=ao"
tarnas_url = "https://scholar.google.com/citations?hl=en&user=H9AJzHMAAAAJ&view_op=list_works),"

In [4]:
options = ChromeOptions()
options.headless = True
driver = Chrome(options=options)

In [5]:
button_xpath = "/html/body/div/div[13]/div[2]/div/div[4]/form/div[2]/div/button"

In [6]:
%%time
# base_url = malcolm_url
# base_url = zack_url
# base_url = hinton_url
base_url = tarnas_url
driver.get(base_url)
count = 0

while True:  
    try:
        button = WebDriverWait(driver, 2).until(EC.element_to_be_clickable((By.XPATH, button_xpath)))
        button.click()
        count += 1
        print(f"click number: {count}")
        
    except TimeoutException:
        print('not clickable')
        break
        
html = driver.page_source
base_page = BeautifulSoup(html, "lxml")
driver.close()

links = []
for td in base_page.find_all("td", attrs={"class": "gsc_a_t"}):
    link = td.find("a").get("data-href")
    full_link = base_url.split("citations?")[0] + link
    links.append(full_link)
print("number of publication links found: ", len(links))

# authors_lis = []
# for link in links[:10]:
#     full_link = base_url.split("citations?")[0] + link
#     authors_lis.append(get_authors(full_link))
# authors_lis = get_authors_list(links)
#     driver.get(full_link)
#     html = driver.page_source
#     page = BeautifulSoup(html, "lxml")
#     try:
#         authors_lis.append(page.select_one("#gsc_vcd_table > div:nth-child(1) > div.gsc_vcd_value").text)
#     except AttributeError:
#         authors_lis.append(None)

# print("number of author groups scraped: ", len(authors_lis))

click number: 1
not clickable
number of publication links found:  45
Wall time: 4.69 s

In [7]:
# 32 sec for 10 links, no multiprocessing
# authors_lis[:5]

# Get data w/ BeautifulSoup

### Get author name

In [8]:
page_title = base_page.find('title').string
author_name = page_title.split(' - ')[0]
author_name

'Jesse Tarnas'

### Get current role

In [9]:
temp = []
for x in base_page.find_all("div", attrs={"class": "gsc_prf_il"}):
    temp.append(x.text)
    
temp[0]

'Graduate Student, Brown University'

### Get citation counts for each paper

In [10]:
# get citations for each paper 
citations_lis = []
for td in base_page.find_all("td", attrs={"class": "gsc_a_c"}):
    citation = td.find("a").contents
    citations_lis.append(citation)

print(citations_lis[:3])
print(len(citations_lis))

[['14'], ['14'], ['10']]
45

In [11]:
citations_lis = [int(c[0]) if len(c)==1 else 0 for c in citations_lis]
len(citations_lis)

45

In [12]:
sum(citations_lis)

52

Weird that this different from Google's listed total citations for Geoffrey Hinton: 372718.

Seems they might be taking into account duplicate publications when counting total citations, but not when calculating the author's overall h-index, as you'll see later in the notebook.

### Get publication dates

In [13]:
# get years for each paper 
years_lis = []
for yr in base_page.find_all("span", attrs={"class": "gs_oph"}):
    years_lis.append(yr.text)

# remove the extras
# years_lis = [text for i,text in enumerate(years_lis) if i%2==0]
years_lis[:5]

[', 2019', ', 2018', ', 2013', ', 2019', ', 2020']

In [14]:
len(years_lis)

42

There are missing values from the years list because sometimes that section is blank on the website, but the year is listed in the title of the paper section instead.

Also, it seems there are duplicate publications listed on some Google Scholar profiles. For example on Geoffrey Hinton's, "Layer Normalization" is listed three different times. Same authors, same journal (arXiv), but different citations counts.

Google is not taking this into account in there h-index calculations b/c I reproduced theirs by including duplicates.

In [15]:
# TODO: 

# would need to extract the dates from the publication title where date is missing from usual spot,
# and account for bogus years like "6" for "Williams, RI (1986). Learning internal representations by error propagation"
# and sometimes there's no date listed at all in the title either

# also just need to clean up the year strings (ex: ', 1986' --> 1986)

### Get co-authors for each publication

In [16]:
# clean up and split names
# author_lists = [names.split(', ') for names in authors_lis]

# print(len(author_lists))

In [17]:
# author_lists[:3]

### Get backup authors list

In [18]:
# get authors of each paper
backup_authors = []
for auth in base_page.find_all("div", attrs={"class": "gs_gray"}):
    backup_authors.append(auth.text)
    
# remove extra gs_gray classes found (the journal names)
backup_authors = [text for i,text in enumerate(backup_authors) if i%2==0]

# clean up and split names
backup_authors = [names.split(', ') for names in backup_authors]

In [19]:
backup_authors[:5]

[['V Stamenković',
  'LW Beegle',
  'K Zacny',
  'DD Arumugam',
  'P Baglioni',
  'N Barba',
  '...'],
 ['JD Tarnas',
  'JF Mustard',
  'BS Lollar',
  'MS Bramble',
  'KM Cannon',
  'AM Palumbo',
  '...'],
 ['JD Tarnas', 'YS Nam', 'R Blümel'],
 ['JD Tarnas',
  'JF Mustard',
  'H Lin',
  'TA Goudge',
  'ES Amador',
  'MS Bramble',
  '...'],
 ['F Klein', 'JD Tarnas', 'W Bach']]

# Format data by year(to-do), co-author pos, & h-index

### Get co-author positions

In [21]:
# scary one-liner to convert int to ordinal representation (ex: 2 --> "2nd")
# https://stackoverflow.com/questions/9647202/ordinal-numbers-replacement
# ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(n/10%10!=1)*(n%10<4)*n%10::4])

In [39]:
def get_author_positions_lis(auth_name, auth_lists):
    ordinal = lambda n: "%d%s" % (n,"tsnrhtdd"[(n/10%10!=1)*(n%10<4)*n%10::4])
    author_positions_lis = []

    for names in auth_lists:
#         print(names)
        try: 
            match = process.extractOne(auth_name, names, score_cutoff=75)[0]
#             print(match)
        except TypeError: 
            match = None
#             print('no match')
            
        if match:
            for i, author in enumerate(names):
                if author == match:

                    if i == len(names)-1 and i > 2:
                        author_positions_lis.append('last')
                    elif i > 4:
#                         author_positions_lis.append('6th or more')
                        author_positions_lis.append('≥ 6th')
                    else:
                        author_positions_lis.append(ordinal(i+1))
                    break
        else:
            if len(names) > 4:
#                 author_positions_lis.append('6th or more')
                author_positions_lis.append('≥ 6th')
            else:
                author_positions_lis.append(ordinal(len(names)))
            
    return author_positions_lis

# author_positions_lis = get_author_positions_lis(author_name, author_lists)
author_positions_lis = get_author_positions_lis(author_name, backup_authors)

print(author_positions_lis[:5])
print(len(author_positions_lis))

['≥ 6th', '1st', '1st', '1st', '2nd']
45

In [40]:
set(author_positions_lis)

{'1st', '2nd', '3rd', '4th', '5th', 'last', '≥ 6th'}

In [41]:
backup_authors[1]

['JD Tarnas',
 'JF Mustard',
 'BS Lollar',
 'MS Bramble',
 'KM Cannon',
 'AM Palumbo',
 '...']

In [42]:
# needed to lower the cutoff to 75 for it to consider "JD Tarnas" a match for "Jesse Tarnas"
get_author_positions_lis(author_name, [backup_authors[1]])

['1st']

### Group citations by co-author position

In [24]:
def get_pos_dfs(pos_lis, num_lis):
    citations_positions_df = pd.DataFrame(list(zip(pos_lis, num_lis)), columns =['positions', 'citations']) 
    return dict(tuple(citations_positions_df.groupby('positions')))


dfs = get_pos_dfs(author_positions_lis, citations_lis)
dfs.keys()

dict_keys(['1st', '2nd', '3rd', '4th', '≥ 6th'])

In [116]:
dfs['1st'].head()

   positions  citations
8        1st      13052
9        1st      12260
11       1st       7870
14       1st       5004
15       1st       4444

### Get h-indexes by co-author position

In [117]:
def get_hindexes_dict(dataframes):
    hindexes_dict = {}
    
    for k, df in dataframes.items():
        df.sort_values('citations')
        df.index += 1
        df = df.reset_index()
        df = df.query('citations >= index')
        # checking if there are no citations
        if df.shape[0] <= 0:
            hindexes_dict[k] = 0
        else:
            hindexes_dict[k] = df.shape[0]
        
    return hindexes_dict
        
hindexes_d = get_hindexes_dict(dfs)

In [118]:
# excluding co-author position w/ h-index of zero
hindexes_d

{'1st': 52, '2nd': 62, '3rd': 31, '4th': 0, '5th': 2, 'last': 11, '≥ 6th': 2}

In [119]:
sum(hindexes_d.values())

160

In [120]:
# Regular h-index (same as Google's)
temp_df = pd.DataFrame({"citations": citations_lis})
temp_df.sort_values('citations')
temp_df.index += 1
temp_df = temp_df.reset_index()
temp_df = temp_df.query('citations >= index')
temp_df.shape[0]

160

In [121]:
pd.DataFrame({'position': list(hindexes_d.keys()), 'h-index': list(hindexes_d.values())}).set_index('position')

          h-index
position
1st            52
2nd            62
3rd            31
4th             0
5th             2
last           11
≥ 6th           2

# Format data for plotting

In [122]:
def get_counts_dicts(pos_lis, num_lis):
    d1 = {}
    d2 = {}

    for position, num in zip(pos_lis, num_lis):
        if position in d1:
            d1[position] += 1
            d2[position] += num
        else:
            d1[position] = 1
            d2[position] = num
    return d1, d2
        
author_positions, citations_by_author_position = get_counts_dicts(author_positions_lis, citations_lis)

print(f'author_positions: {author_positions}')
print(f'citations_by_author_position: {citations_by_author_position}')

author_positions: {'2nd': 258, '3rd': 138, '1st': 211, 'last': 40, '5th': 8, '≥ 6th': 49, '4th': 8}
citations_by_author_position: {'2nd': 252036, '3rd': 117448, '1st': 84312, 'last': 11934, '5th': 1020, '≥ 6th': 888, '4th': 59}

In [123]:
author_positions = OrderedDict(sorted(author_positions.items()))
citations = OrderedDict(sorted(citations_by_author_position.items()))

In [124]:
author_positions.move_to_end('last')
citations.move_to_end('last')

In [125]:
citations

OrderedDict([('1st', 84312),
             ('2nd', 252036),
             ('3rd', 117448),
             ('4th', 59),
             ('5th', 1020),
             ('≥ 6th', 888),
             ('last', 11934)])

In [126]:
author_positions

OrderedDict([('1st', 211),
             ('2nd', 258),
             ('3rd', 138),
             ('4th', 8),
             ('5th', 8),
             ('≥ 6th', 49),
             ('last', 40)])

In [127]:
print(author_positions)
print(citations)

OrderedDict([('1st', 211), ('2nd', 258), ('3rd', 138), ('4th', 8), ('5th', 8), ('≥ 6th', 49), ('last', 40)])
OrderedDict([('1st', 84312), ('2nd', 252036), ('3rd', 117448), ('4th', 59), ('5th', 1020), ('≥ 6th', 888), ('last', 11934)])

In [128]:
lis1 = list(citations.keys())
lis2 = list(citations.values())

In [129]:
lis1

['1st', '2nd', '3rd', '4th', '5th', '≥ 6th', 'last']

In [130]:
df = pd.DataFrame({
                "positions": lis1,
                "citations": lis2
            })
percents_df = df.copy()
percents_df.citations = (100 * df.citations / df.citations.sum()).round(0)
percents_df.citations = percents_df.citations / 100
# percents_df = percents_df.fillna(0)
percents_df

  positions  citations
0       1st       0.18
1       2nd       0.54
2       3rd       0.25
3       4th       0.00
4       5th       0.00
5     ≥ 6th       0.00
6      last       0.03

# Plot w/ Altair

In [134]:
def bar_chart(df):
    return alt.Chart(df).mark_bar().encode(
        alt.X('citations', axis=alt.Axis(format='%')),
        alt.Y('positions', sort=None),
        color=alt.Color(
            "positions", 
            scale=alt.Scale(scheme="greenblue"), 
            legend=None
            )
        ).properties(
            title='portion of total citations by co-author position'
        ).configure_axisX(
            labelAngle=0
        ).configure_view(
            strokeWidth=0
        )


bar_chart(percents_df).display()

alt.Chart(...)